@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");

$color-primary: #7aa543;
$color-primary-light: #8ebf4c;
$color-primary-dark: #648134;
$default-font: "Noto Sans JP", sans-serif;

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
