@import "../../index";

.details-container {
  margin: 50px 150px 50px 150px;
}

.idea-details-title {
  font-size: 4em;
  font-weight: 600;
  margin-bottom: 20px;
}

.topic-tag {
  border-radius: 4px;
  color: white;
  background-color: $color-primary;
  border: none;
  outline: none;
  padding: 10px 25px 10px 25px;
  height: 35px;
  margin-bottom: 50px;
}
