@import "../../index";

.details-container {
  margin: 30px 150px 50px 150px;

  h3 {
    font-weight: 100;
    margin-top: 0;
    color: #797979;

    b {
      font-weight: 800;
    }
  }
}

.idea-details-title {
  font-size: 4em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}

.topic-tag {
  border-radius: 4px;
  color: white;
  background-color: $color-primary;
  border: none;
  outline: none;
  padding: 10px 25px 10px 25px;
  height: 35px;
  margin-bottom: 50px;
}

.carousel {
  display: flex;
  justify-content: center;
  background-color: #bcbcbc;
  padding-top: 60px;
  padding-bottom: 60px;
}
