@import "../../index";

.default-button {
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $color-primary;
  color: white;
  padding: 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  min-width: 100px;
  font-family: $default-font;
  outline: none;
  transition-duration: 0.2s;

  &:hover {
    background-color: $color-primary-light;
  }

  &:active {
    background-color: $color-primary-dark;
  }

}
