@import "../../index";

.page-container {
  margin: 50px 150px 50px 150px;
  display: grid;
  grid-template-columns: 2fr 1fr;

  .right-container {
    display: flex;
    flex-direction: column;
  }

  Button {
    width: 50%;
    margin-bottom: 40px;
  }
}

.checkbox {
  margin-bottom: 50px;
}

.create-idea-title {
  border: none;
  font-size: 3em;
  width: 90%;
  font-family: $default-font;
  font-weight: 600;
  margin-bottom: 40px;
  outline: none;
}

.idea-description {
  border: none;
  font-size: 1em;
  width: 90%;
  resize: none;
  font-family: $default-font;
  outline: none;
}

.idea-public {
  border-radius: 4px;
}
