.container {
  padding: 50px 150px 50px 150px;
}

.topics-container {
  display: flex;
  justify-content: space-between;
}

.topic {
  border-radius: 4px;
  background-color: #dfdfdf;
  border: none;
  outline: none;
  padding: 10px 25px 10px 25px;
}

.topic:hover {
  cursor: pointer;
}

.active {
  color: #7AA543;
}
